/*------------------------------------------------------------------------*/
/* header */
.header-section {
	height: 70px;
	top: 0;
	position: fixed;
	width: 100vw;
	right: 0;
	z-index: 1030;
}

header {
	background-color: $color-light;
	color: $font-color;
	@include flex(row, center, flex-end);
	height: 70px;

	.header_item-md {
		position: relative;
		display: block;
		border-left: 1px solid $font-color;
		height: 70px;

		&:hover {
			background: darken($color-light, 8%);
			transition: $transition;
		}

		.item {
			text-align: center;
			display: inline-block;
			height: 70px;
			width: 30px;
			font-size: 22px;
			margin-top: 15px;
			margin-left: 15px;
		}

		.item-text {
			position: absolute;
			display: inline-block;
			text-align: center;
			margin-left: 15px;
			font-family: $paragraph-font;
			color: $brand-main-color;
			font-weight: $font-semibold;
			top:-4%;
			font-size: 18px;
		}

		.amount {
			font-size: 20px;
		}

		.icon-arrow-down {
			float: right;
			bottom: 8%;
			width: 20px;
			font-size: 18px;
			margin-right: 15px;
		}
	}

	.header_item-sm {
		position: relative;
		display: block;
		border-left: 1px solid $font-color;
		border-right: none;
		height: 70px;
		padding-top: 6px;

		&:hover {
			background: darken($color-light, 8%);
			transition: $transition;
		}

		i {
			position: absolute;
			@include center;
			font-size: 24px;
			cursor: pointer;
		}
	}
}
/*--------------------------------------------------------------------------/
/* Media query */
@media (max-width: 1200px) {
	.header-section {
		width: 100vw;

		.header_item-md {
			min-width: 240px;
		}
	}
}
@media (max-width: 991px) {
	.header-section {
		width: 60px;
		height: 100vh;
		top: 1%;
		left: 0;
		margin-top: 35px;
		@include flex (column, flex-start, flex-start);

		header {
			width: 60px;
			height: 100vh;
			@include flex (column, center, flex-start);

			.header_item-md {
				@include flex (column, center, center);
				min-width: 60px;
				border-left: none;
				max-height: 80px;

				.item {
					font-size: 16px;
					width: 20px;
					height: 20px;
					margin: 10px;
				}

				.icon-arrow-down {
					transform: rotate(90deg);
				}

				.item-text {
					display: none;
				}
			}

			.header_item-sm {
				@include flex (row, center, center);
				min-width: 60px;
				height: 40px;
				border-left: none;

				.icon-notification {
					font-size: 18px;
					width: 20px;
					margin: 0 auto;
				}

				.icon-quit {
					font-size: 18px;
					width: 20px;
					margin: 0 auto;
				}
			}
		}
	}
}
