/*------------------------------------------------------------------------*/
/*Chart*/
.chart {
	margin-top: 110px;
}

.section-title {
	border-bottom: 1px solid $font-color;
	color: $font-color;
	margin-bottom: 30px;
}

.row {
	justify-content: center;
}

.title {
	margin-top: 20px;
	font-family: $paragraph-font;
	font-size: 20px;
	font-weight: $font-bold;
	color: $font-color;
}

canvas {
	margin: 15px;
	margin-top: 25px;
}
/* Fake calendar */
.calendar {
	display: inline-block;
	border: 1px solid $font-color;
	border-right: none;
	padding: 5px;
	height: 50px;
	text-align: center;

	h2 {
		margin: 0 auto;
		color: $font-color;
	}
}

.img-calendar {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 50px;
	border: 1px solid $font-color;
	border-left: none;

	.icon-calendar {
		position: absolute;
		@include center;
		font-size: 18px;
		color: $font-color;
	}
}
/* datasets */
.data-table {
	border-top: solid 1px $font-color;
	margin: 40px 0 auto;
	min-height: 170px;

	.data {
		@include flex(row, space-around, space-between);
		border-bottom: solid 1px $font-color;
		margin: 0 30px;
		height: 50px;

		p {
			margin: 5px 20px;
			font-size: 18px;
			font-family: $paragraph-font;
			font-weight: $font-bold;
			color: $font-color;
		}
	}
}
/* button */
.main {
	display: block;
	@include btn($brand-second-color, $color-light, $brand-second-color);
	margin-left: 20px;
	height: 50px;
	width: 50px;
	opacity: 0.8;
	color: $color-light;
	font-size: 24px;

	&:hover {
		background: darken($brand-second-color, 5%);
	}
}
/*------------------------------------------------------------------------*/
/*Links*/
/* button */
.row-button {
	height: 70px;
	width: 100%;
	position: relative;
	margin-top: 35px;
}

.add {
	position: absolute;
	display: block;
	@include btn($brand-second-color, $color-light, $brand-second-color);
	margin-left: 20px;
	opacity: 0.8;
	@include center;
	top: 18%;

	&:hover {
		background: darken($brand-second-color, 5%);
	}
}
/* Table */
.table-row {
	position: relative;
	margin-top: 10px;

	table {
		@include flex(row, center, center);
		margin: 0 30px;
		border-collapse: collapse;

		td {
			max-height: 35px;
			padding-right: 60px;
			border-bottom: solid 1px $color-dark;

			h3 {
				margin: 5px;
				color: $font-color;
				font-weight: $font-bold;
			}

			.fa-link {
				color: $brand-second-color;
			}

			i {
				opacity: 0.1;
				padding-left: 20px;
				font-size: 16px;
				cursor: pointer;
			}
		}

		tr:hover {
			border: none;
			background: lighten($brand-second-color, 25%);

			i {
				opacity: 1;
				transition: $transition;
			}
		}
	}
}
/*--------------------------------------------------------------------------/
/* Media query */
@media (max-width: 1100px) {
	.container {
		width: 80vw;
		float: right;
		margin-right: 40px;
	}

	canvas {
		top: 25% !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	@include grid('md');

	.chart {
		margin-top: 0;

		.container {
			top: 0;
			margin: 10px;
			height: 100%;
			width: 90vw;
			float: right;
			margin-right: 30px;

			.row {
				@include flex(row, center, center);

				.calendar h2 {
					font-size: 18px;
				}

				.img-calendar {
					display: inline-block;

					.icon-calendar {
						font-size: 16px;
					}
				}

				.main {
					width: 35px;
					height: 35px;
					line-height: 35px;
					position: relative;
					margin-left: 15px;

					.fa-redo {
						font-size: 16px;
						position: absolute;
						@include center;
					}
				}
			}

			.data {
				margin: 0 auto;

				p {
					font-size: 14px;
				}
			}
		}
	}

	.links {
		.container {
			margin: 10px;
			height: 100%;
			width: 90vw;
			float: right;
			margin-right: 30px;

			.row-button {
				max-height: 50px;

				.add {
					font-size: 14px;
				}
			}

			.scroll-wrapper {
				overflow-x: auto;
				overflow-y: hidden;
			}
		}
	}
}
@media (max-width: 767px) {
	@include grid('sm');

	.chart {
		margin-top: 0;

		.container {
			top: 0;
			margin-top: 5px;
			height: 100%;
			width: 85vw;
			float: right;
			margin-right: 5px;
			margin-bottom: 10px;

			.section-title {
				font-size: 20px;
			}

			.row {
				@include flex(column, center, center);

				.calendar {
					border-right: 1px solid $font-color;
					border-bottom: none;

					h2 {
						font-size: 18px;
					}
				}

				.img-calendar {
					border-left: 1px solid $font-color;
					display: inline-block;
					width: 93px;
					height: 30px;

					.icon-calendar {
						font-size: 16px;
					}
				}

				.main {
					width: 30px;
					height: 30px;
					line-height: 30px;
					margin-top: 15px;
					position: relative;
					margin-left: 0;

					.fa-redo {
						font-size: 16px;
						position: absolute;
						@include center;
					}
				}
			}

			.data-table {
				@include flex(column, center, space-between);
				align-items: center;

				.data {
					margin: 0;
					width: 70%;

					p {
						font-size: 14px;
					}
				}
			}

			.title {
				font-size: 14px;
			}

			.chart-row canvas {
				transform: rotate(90deg) !important;
				left: 0;
			}
		}
	}

	.links {
		.container {
			height: 100%;
			width: 85vw;
			float: right;
			margin-top: 5px;
			margin-right: 5px;
			margin-bottom: 5px;

			.section-title {
				font-size: 18px;
			}

			.row-button {
				max-height: 50px;

				.add {
					font-size: 14px;
				}
			}

			.scroll-wrapper {
				overflow-x: auto;
				overflow-y: hidden;

				td {
					clear: left;
					float: left;
					width: 100%;
					padding-left: 25px;

					h3 {
						font-size: 16px;
					}
				}
			}
		}
	}
}
