/*------------------------------------------------------------------------*/
/*Chart*/
.chart {
	margin-top: 90px;
}

.section-title {
	border-bottom: 1px solid $font-color;
	color: $font-color;
	margin-bottom: 30px;
	font-family: $paragraph-font;
	font-size: 26px;
	font-weight: $font-semibold;
	text-transform: uppercase;
	color: $font-color;
}

.row {
	justify-content: center;
}

.title {
	margin-top: 20px;
	font-size: 22px;
	font-family: $paragraph-font;
	font-weight: $font-semibold;
	color: $font-color;
}

canvas {
	margin: 20px 25px;
	padding: 20px 40px;
}
/* Fake calendar */
.calendar {
	display: inline-block;
	border: 1px solid $font-color;
	border-right: none;
	padding: 5px;
	height: 50px;
	text-align: center;
	margin: 40px 0;

	.inner-calendar {
		width: 100%;
		height: 100%;
		border: none;
		text-align: center;
	}

	input {
		margin: 0 auto;
		font-family: $paragraph-font;
		color: $font-color;
		font-weight: $font-semibold;
	}
}

.img-calendar {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 50px;
	border: 1px solid $font-color;
	border-left: none;

	.icon-calendar {
		position: absolute;
		@include center;
		font-size: 18px;
		color: $font-color;
	}
}
/* datasets */
.data-table {
	border-top: solid 1px $font-color;
	margin: 40px 0;
	margin-top: 20px;
	min-height: 170px;

	.data {
		@include flex(row, space-around, space-between);
		border-bottom: solid 1px $font-color;
		margin: 30px;
		height: 50px;

		p {
			margin: 5px 20px;
			font-size: 18px;
			&:first-of-type {
				color: $brand-main-color;
			}

			&:last-of-type {
				color: $color-dark;
				font-weight: $font-semibold;
			}
		}
	}
}
/* button */
.main {
	display: block;
	@include btn($brand-second-color, $color-light, $brand-second-color);
	margin-left: 20px;
	height: 50px;
	width: 50px;
	opacity: 0.8;
	color: $color-light;
	font-size: 24px;
	font-family: $paragraph-font;

	&:hover {
		background: darken($brand-second-color, 5%);
	}
}
/*------------------------------------------------------------------------*/
/*Links*/
/* button */
.row-button {
	height: 70px;
	width: 100%;
	position: relative;
	margin-top: 35px;
}

.add {
	position: absolute;
	display: block;
	@include btn($brand-second-color, $color-light, $brand-second-color);
	margin-left: 20px;
	opacity: 0.8;
	@include center;
	top: 18%;

	&:hover {
		background: darken($brand-second-color, 2%);
	}
}
/* Table */
.table-row {
	position: relative;
	margin-top: 10px;

	table {
		@include flex(row, center, center);
		margin: 0 20px;
		border-collapse: collapse;

		td {
			max-height: 45px;
			padding-right: 100px;
			border-bottom: solid 1px $color-dark;

			h3 {
				margin: 5px;
				font-family: $paragraph-font;
				font-size: 18px;
				font-weight: $font-semibold;
				color: $font-color;
			}
			a {
				text-decoration: none;
				font-family: $paragraph-font;
				color: $brand-main-color;
				font-weight: $font-semibold;
			}

			.fa-link {
				color: $brand-second-color;
			}

			i {
				opacity: 0.1;
				padding-left: 20px;
				font-size: 16px;
				cursor: pointer;
			}
		}

		tr:hover {
			border: none;
			background: darken($color-light, 8%);

			i {
				opacity: 1;
				transition: $transition;
			}
		}
	}
}
/*--------------------------------------------------------------------------/
/* Media query */
@media (max-width: 1100px) {
	.container {
		top: 0;
		margin: 10px;
		height: 100%;
		width: calc(100vw - 220px);
		float: right;

		canvas {
			margin: 0 auto;
			padding: 0 auto;
		}
	}
}
	@media (min-width: 768px) and (max-width: 991px) {
		@include grid('md');

		.chart {
			margin-top: 0;

			.container {
				top: 0;
				margin: 10px;
				height: 100%;
				width: calc(100vw - 70px);
				float: right;

				.row {
					@include flex(row, center, center);

					.calendar h3 {
						font-size: 18px;
					}

					.img-calendar {
						display: inline-block;

						.icon-calendar {
							font-size: 16px;
						}
					}

					.main {
						width: 35px;
						height: 35px;
						line-height: 35px;
						position: relative;
						margin-left: 15px;

						.fa-redo {
							font-size: 16px;
							position: absolute;
							@include center;
						}
					}
				}

				.data {
					margin: 0 auto;

					p {
						font-size: 14px;
					}
				}
			}
		}

		.links {
			.container {
				top: 0;
				margin: 10px;
				height: 100%;
				width: calc(100vw - 70px);
				float: right;

				.row-button {
					max-height: 50px;

					.add {
						font-size: 14px;
					}
				}

				.scroll-wrapper {
					overflow-x: auto;
					overflow-y: hidden;
				}
			}
		}
	}
	@media (max-width: 767px) {
		@include grid('sm');

		.chart {
			margin-top: 0;

			.container {
				top: 0;
				margin: 10px;
				height: 100%;
				width: calc(100vw - 70px);
				float: right;

				.section-title {
					font-size: 20px;
				}

				.row {
					@include flex(column, center, center);

					.calendar {
						border-right: 1px solid $font-color;
						margin: 1px auto;
						width: 40vw;

						input {
							font-size: 12px;
						}
					}

					.img-calendar {
						display: none;
					}

					.main {
						width: 30px;
						height: 30px;
						line-height: 30px;
						margin-top: 15px;
						position: relative;
						margin-left: 0;

						.fa-redo {
							font-size: 14px;
							position: absolute;
							@include center;
						}
					}
				}

				.data-table {
					@include flex(column, center, space-between);
					align-items: center;

					.data {
						margin: 0;
						width: 80%;

						p {
							font-size: 12px;
						}
					}
				}

				.title {
					font-size: 14px;
				}

				canvas {
					padding: 0 auto;
					margin: 0 auto;
				}
			}
		}

		.links {
			.container {
				top: 0;
				margin: 10px;
				height: 100%;
				width: calc(100vw - 70px);
				float: right;

				.section-title {
					font-size: 18px;
				}

				.row-button {
					max-height: 50px;

					.add {
						font-size: 12px;
					}
				}

				.scroll-wrapper {
					overflow-x: auto;
					overflow-y: hidden;

					td {
						clear: left;
						float: left;
						width: 100%;
						padding-left: 10px;
						margin-left: 35px;

						h3 {
							font-size: 12px;
						}
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
