/* Colors */
$color-dark: #000000;
$brand-main-color: #806A6A;
$brand-second-color: #DE781F;
$font-color: #535756;
$color-light: #FFFFFF;
/* Font sizes */
$paragraph-font-size: 16px;
/* Fonts */
$brand-font: 'Lato', sans-serif;
$brand-second-font: 'Courgette', cursive;
$paragraph-font: 'Poppins', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
$transition: all 0.3s;
$radius: 4px;
/* Typography */
.h1 {
	font-family: $brand-font;
	font-size: 26px;
	font-weight: $font-semibold;
	text-transform: uppercase;
}

.h2 {
	font-family: $brand-font;
	font-size: 20px;
	font-weight: $font-bold;
	text-transform: uppercase;
	color: $font-color;
}

.h3 {
	font-family: $brand-font;
	font-size: 18px;
	font-weight: $font-semibold;
	text-transform: uppercase;
	color: $font-color;
}
p {
	font-family: $paragraph-font;
	color: $font-color;
	font-weight: $font-semibold;
}

li a {
	text-decoration: none;
	color: darker($color-light, 10%);
	font-weight: $font-normal;
	cursor: pointer;
	font-family: $brand-font;
}

.circle {
	position: absolute;
	top: 25%;
	left: 47%;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #f58220;
}
