/* header */

header {
	height: 80px;
	background-color: $color-light;
	color: $font-color;
	@include flex(row, center, flex-end);
}

.header_item-md {
	display: inline-block;
	border: 1px solid $font-color;
	max-height: 80px;
}

.header_item-md {
	display: inline-block;
	border: 1px solid $font-color;
	max-height: 80px;
}

aside {
	height: calc(100vh - 80px);
	width: 150px;
	float: left;
	background: $color-dark;
	color: $font-color;
	&:hover {
		background-color: lighter($color-dark, 10%);
		color: $color-light;
	}
}


li {
	list-style: none;
}

ul {
	@include flex(column, center, space-around);
}







.main {
	display: block;
	@include btn($brand-main-color, $color-light, $brand-main-color);
	& a {
		text-decoration: none;
		color:$color-light;
	}
	&:hover {
		background: darken($brand-main-color, 5%);
	}
}
